@import "~bootstrap/scss/bootstrap";
@import "~react-mde/lib/styles/css/react-mde-all.css";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}