@import "~bootstrap/scss/bootstrap";
@import "~react-mde/lib/styles/css/react-mde-all.css";

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.modalButton {
    margin-right: 1rem;
}

.errorMessage {
    color: red;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
