table {
    margin-left: 3rem;
    border-spacing: 0;
    border: 1px solid black;
    width: 30rem;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      :last-child {
        border-right: 0;
      }
    }
}

.createEditorButton {
    margin-left: 3rem;
    margin-top: 1rem;
}

.pagination {
    margin-left: 3rem;
    padding: 0.5rem;
}
